.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 196);
  width: 100%;
  height: 100vh;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table, th {
  border: 2px solid black;
  border-collapse: collapse;
}

table {
  width: 25rem;
}

td {
  font-size: 1.2em;
  font-weight: bold;
}

button {
  border: none;
  border-radius: .3em;
  outline: none;
  padding: .3em .6em;
  color: white;
  cursor: pointer;
}
table {
  border: 2px solid black;
}

td span {
  border-radius: .3em;
}

td {
  padding: .4em;
}

.remove {
  background-color: lightcoral;
}

.remove:hover {
  background-color: red;
}

.add {
  background-color: green;
  width: 100%;
  margin-bottom: 1em;
  padding: .8em;
}